html {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    width: 7.5rem;
    
}

#display {
    text-align: end;
}

#mid-section {
    display: flex;
}

#numpad {
    display: grid;
    grid-template-columns: repeat(3, 2rem);
    grid-row: 2/3;
    justify-content: center;
}

#operators {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.zero {
    grid-column: 2/3;
}

#bottom-section {
    display: flex;
    width: 100%;
}

.equal, .clear {
    width: 50%;
}

