@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

html {
    margin: 0;
    padding: 0;
    background-color: #32E875;
}

body {
    display: flex;
    justify-content: center;
}

button {
    margin: 0;
    padding: 2em 1.5em;
    font-family: 'Rajdhani', sans-serif;
    border: none;
    font-size: 1em;
    border: 1px solid #357DED;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    padding: 1.6em;
    background-color: #357DED;
    border-radius: 20px;
}

#display {
    width: 100%;
    text-align: end;
    font-size: 2.5em;
    color: white;
    background-color: #56EEF4;
    border: 1px solid #357DED;
    border-radius: 10px 10px 0 0;
    font-family: 'Rajdhani', sans-serif;
}

#mid-section {
    display: flex;
}

#operators {
    display: flex;
    flex-direction: column;
}

#operators button {
    background-color: #B24C63;
    color: white;
}

#numpad {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.zero {
    grid-column: 2/3;
}

.float {
    grid-column: 3/4;
}

#equal {
    grid-column: 1/2;
    grid-row: 4/6;
    background-color: #5438DC;
    color: white;
}

#clear {
    grid-column: 2/4;
    background-color: #B24C63;
    color: white;
}

button:hover {
    background-color: rgb(179, 179, 179);
    transition: .3s;
}

#operators button:hover {
    background-color: #86384a;
}

#clear:hover {
    background-color: #86384a;
}

#equal:hover {
    background-color: #3b289e;
}